@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'IBM Plex Sans Arabic', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow-x: hidden;
    font-size: 16px;
    /* background-color: rgb(68, 171, 202); */
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

.navbar {
    /* background: linear-gradient(0deg, rgba(239,255,0,1) 47%, rgba(0,119,231,1) 52%); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.navbar .logo h3{
    font-size: 3em;
    padding: 32px 0;
    color: rgb(255, 255, 255);
}

.navbar .navbar-menu ul{
    list-style: none;
    display: flex;
}

.navbar .navbar-menu ul li a{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    margin: 0 20px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.navbar .navbar-menu ul li a:hover{
    border-bottom: 3px solid;
    color: rgba(255, 230, 0, 0.972)
}

.navbar-menu .contact {
    border: 3px solid;
    border-radius: 20px;
    padding: 5px 10px;
}

.navbar-menu .contact:hover{
    background: transparent;
}

.container {
    background-color: aqua;
    width: 80%;
    margin: 50px auto;
}

.container .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .search-container .search-text{
    font-size: 2rem;
    margin: 20px 0;
}

form .form-searcher{
    width: 900px;
    font-size: 1.4rem;
    border-radius: 20px;
    padding: 3px 15px;
}

form .form-searcher:hover {
    box-shadow: 0 0 10px black;
}

#searchBTN {
    transition: 1 ease;
    color: white;
    background-color: black;
    font-size: 1.4rem;
    padding: 10px;
    border: none;
    border-radius: 25px;
    transition: 1 ease;
}

#searchBTN:hover {
    transition: 1 ease;
    color: black;
    background-color: white;
    transform: scale(1.1);
}

.search-links {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 1.5rem;
}

.search-links h4{
    border: 3px solid;
    padding: 10px 20px;
    font-weight: 100;
    border-radius: 30px;
}

.emptyPage {
    display: flex;
    justify-content: center;
    align-items: center;
}


.emptyPage img{
    width: 25%;
    margin: 20px;
}

.noResultsP {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 0 0 100px;
}