@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(assets/bg.jpg);
  scroll-behavior: smooth;
  backdrop-filter: blur(2px);
}

:root {
  --main-color: rgb(99, 0, 0);
  --second-color: rgb(255, 107, 107);
}

header .container {
  display: flex;
  background-color: var(--second-color);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header .container .logo {
  font-size: 2.5rem;
  margin: 20px 30px;
  letter-spacing: 5px;
  font-weight: 900;
}

header .container .menuList ul {
  display: flex;
  list-style: none;
}

header .container .menuList ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 20px;
  color: black;
  letter-spacing: 2px;
  font-weight: 900;
  position: relative;
  transition: all 0.5s ease;
}

header .container .menuList ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: rgb(0, 0, 0);
}

header .container .menuList ul li a:hover {
  color: white;
}

header .container .menuList ul li a:hover::before {
  transition: all 0.5s ease;
  width: 100%;
  background-color: white;
}

#searchForm {
  width: 90%;
  margin: 0 auto;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchForm #searchField {
  font-size: 1.5rem;
  padding: 10px 20px;
  color: black;
  border: 4px solid;
  border-radius: 9px;
  transition: all 0.5s ease;
  margin: 60px 0 0;
}

#searchForm #searchField:hover {
  outline: 3px solid black;
  background-color: black;
  color: white;
}

#searchForm #searchField::placeholder {
  color: rgb(255, 95, 95);
}

.filmBanner {
  width: 80%;
  margin: 0 auto;
  height: 75vh;
  /* background-image: url(assets/dunkirk_03.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  /* backdrop-filter: blur(2px); */
  /* animation-name: filmChange;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; */

  /* animation-play-state: paused; */
  animation: image 40s infinite alternate-reverse;
}

@keyframes image{
  /* 0% {
    background-image: url(assets/dunkirk_03.jpg);
  }
  100% {
    background-image: url(assets/DD1CrA-UIAAVqCf.jpg);
  } */
  0% {
    background-image: url(assets/banner1.jpg);
  }
  20% {
    background-image: url(assets/banner2.jpg);
  }
  40% {
    background-image: url(assets/banner3.jpg);
  }
  60% {
    background-image: url(assets/banner4.jpg);
  }
  80% {
    background-image: url(assets/banner5.jpg);
  }
  100% {
    background-image: url(assets/banner6.jpg);
  }
}

/* //////// */
.filmBar {
  width: 90%;
  /* background-color: aqua; */
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.filmBar a{
  font-size: 2.5rem;
  text-decoration: none;
  border: 4px solid;
  color:  white;
  padding: 20px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  transition: all 0.5s ease;
}

.filmBar a:hover {
  background-color: black;
  font-weight: 900;
}

/* /////// */
#main {
  background-color: antiquewhite;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#main .movieSection {
  margin: 60px 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
  border-radius: 30px;
}
#main .movieSection img {
  margin: 10px auto;
  width: 70%;
  transition: all 0.5s ease;
}
#main .movieSection img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

#main .movieSection .movieInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin: 20px auto;
  /* background-color: aqua; */
  width: 90%;
}

#main .movieSection .movieInfo h3 {
  transition: all 0.5s ease;  
}

#main .movieSection .movieInfo h3:hover {
  text-shadow: 0 5px 10px rgb(0, 0, 0, 0.6);
  cursor: pointer;
}

#main .movieSection .movieInfo h4 {
  font-size: 1.4rem;
  letter-spacing: 0;
}

.movieInfoContent {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#main .movieSection .movieInfo span {
  background-color: var(--second-color);
  padding: 10px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

#main .movieSection .movieInfo span:hover {
  background-color: rgb(255, 49, 49);
  font-weight: 900;
  cursor: pointer;
  transform: translateY(-20%);
}

#main .movieSection .movieInfoMain {
  width: 85%;
  margin: 10px auto;
  font-size: 1.2rem;
}

/* 
.movieInfoMain {
  position: absolute;
  
  bottom: 0;
  max-width: 20%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.movieSection:hover .movieInfoMain{
  opacity: 1;
} */


/* ------------------ */
/* ABOUT SECTION */
/* ------------------ */

.about {
  background-color: antiquewhite;
  width: 90%;
  margin: 0 auto;
}
.about .aboutInfo {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 40px;
}

.about .aboutInfo img {
  width: 30%;
  border-radius: 50%;
}

.about .aboutInfo h3 {
  width: 50%;
  font-size: 1.5rem;
}

.about .aboutInfo span {
  color: rgb(255, 1, 1);
  font-size: 1.7rem;
}